.holder{
    display:grid;
    row-gap: 10px;
    grid-template-rows: repeat(2,200px);
    grid-template-columns: repeat(2,200px);
    column-gap: 10px;
    background-color: bisque;
    width: 100vw;
    justify-content: center;
    align-items: center; 
}
.item{
    background-color: aqua;
    height: 100px;
}
